.c1{
    color: rgb(255, 255, 255);
    background-color: grey;
}

.d1{
    color: rgb(255, 167, 251);
    background-color: rgb(46, 46, 46);
}

.d2{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 71, 71);
}

.d3{
    color: rgb(255, 255, 255);
    background-color: rgb(92, 32, 255);
}

.d4{
    color: rgb(255, 255, 255);
    background-color: rgb(43, 226, 126);
}