  .darkmode {
    background-color: black;
    color: white;
  }
  
  .daymode {
    background-color: white;
    color: black;
  }
  
  .daymode #d1:after {
    content: "MORNING";
  }

  .darkmode #d1:after {
    content: "NIGHT";
  }
 
  .daymode #d2:after {
    content: "day";
  }

  .darkmode #d2:after {
    content: "night";
  }

  .daymode #d3:after {
    content: "day";
  }

  .darkmode #d3:after {
    content: "night";
  }

  .daymode #d4:after {
    content: "day";
  }

  .darkmode #d4:after {
    content: "night";
  }

  .darkmode #c1 {
    color: blue;
  }

  .daymode #c1 {
    color: red;
  }

  
  